.chessboard{
    border-width: 3px;
    border-color: darkslategray;
    border-style: solid;
}

.green {
  background: #b9f6ca; 
}

.tile-highlight{
    border-width: 3px;
    border-color: orange;
    border-style: solid;
}


